/*╔╗╔═╗╔═╗     ╔════╗╔╗              
  ║║║║╚╝║║     ║╔╗╔╗║║║              
  ║║║╔╗╔╗║     ╚╝║║╚╝║╚═╗╔══╗╔╗╔╗╔══╗
╔╗║║║║║║║║╔═══╗  ║║  ║╔╗║║╔╗║║╚╝║║╔╗║
║╚╝║║║║║║║╚═══╝ ╔╝╚╗ ║║║║║║═╣║║║║║║═╣
╚══╝╚╝╚╝╚╝      ╚══╝ ╚╝╚╝╚══╝╚╩╩╝╚══╝ v1.8*/

/*Theme Created By Josu Manzanas Beldarrain*/

/*GitLab: https://GitLab.com/JosuManzanas64/JM-Theme*/


/*Global Values*/
stage{
  font-weight: bold;
  transition-duration: 120ms;}

/*TopBar*/
#panel{
  color: rgba(255, 255, 255, 0.500);
  background-color: rgba(0, 0, 0, 0.500);
  background-gradient-start: rgba(0, 0, 0, 0.500);
  background-gradient-end: rgba(0, 0, 0, 0.500);
  transition-duration: 120ms;}
  
.panel-corner{
  -panel-corner-radius: 12px;
  -panel-corner-background-color: rgba(0, 0, 0, 0.500);
  -panel-corner-box-shadow: none;
  -panel-corner-transition-duration: 120ms;}

.popup-menu-boxpointer{
  -arrow-base: 6px;
  -arrow-rise: 3px;
  -arrow-background-color: rgba(0, 0, 0, 0.500);
  -arrow-border-width: 3px;
  -arrow-border-color: rgba(0, 127.5, 255, 1.000);
  -arrow-border-radius: 12px;
  color: rgba(255, 255, 255, 0.500);}
.popup-menu-boxpointer:hover,
.popup-menu-boxpointer:focus,
.popup-menu-boxpointer:active{
  color: rgba(255, 255, 255, 1.000);}

/*PopUp Menu Item*/  
.popup-menu-item{
  color: rgba(255, 255, 255, 0.500);
  background-color: rgba(0, 0, 0, 0.500);
  border-radius: 12px;
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 12px;
  margin-right: 12px;}
.popup-menu-item:hover{
  color: rgba(255, 255, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);}
.popup-menu-item:active,
.popup-menu-item:checked,
.popup-menu-item:overview,
.popup-menu-item:selected{
  color: rgba(0, 127.5, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);}  
.popup-sub-menu{
  color: rgba(255, 255, 255, 1.000);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  border-width: 3px;
  border-color: rgba(0, 127.5, 255, 1.000);
  margin-left: 12px;
  margin-right: 12px;}  
  
/*Activities Ripple*/
.ripple-box{
  background-color: rgba(0, 0, 0, 0);
  border-width: 3px;
  border-color: rgba(0, 127.5, 255, 1.000);
  transition-duration: 120ms;}

/*Calendar*/
.calendar{
  background-color: rgba(0, 0, 0, 0.500);
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  border-radius: 12px;
  transition-duration: 120ms;}

.pager-button{
  color: rgba(255, 255, 255, 0.500);
  background-color: rgba(0, 0, 0, 0);
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  border-radius: 12px;
  transition-duration: 120ms;}  
.pager-button:hover{
  color: rgba(255, 255, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);}
.pager-button:focus,
.pager-button:active,
.pager-button:checked,
.pager-button:overview{
  color: rgba(0, 127.5, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);}
  
.calendar-day-base{
  color: rgba(255, 255, 255, 0.500);
  background-color: rgba(0, 0, 0, 0);
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  border-radius: 12px;
  transition-duration: 120ms;}
.calendar-day-base:hover,
.calendar-day-base:focus,
.calendar-day-base:active,
.calendar-day-base:checked,
.calendar-day-base:overview,
.calendar-day-base:selected{
  color: rgba(255, 255, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);}

.calendar-day-base:selected:hover{
  color: rgba(255, 255, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);}

.calendar .calendar-today{
  color: rgba(0, 127.5, 255, 1.000);
  border-width: 3px;
  border-color: rgba(0, 127.5, 255, 1.000);}
.calendar .calendar-today:hover,
.calendar .calendar-today:focus,
.calendar .calendar-today:active,
.calendar .calendar-today:selected{
  color: rgba(0, 127.5, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);
  background-color: rgba(0, 0, 0, 0);}

.calendar .calendar-today:active:hover,
.calendar .calendar-today:active:focus,
.calendar .calendar-today:active:active,
.calendar .calendar-today:active:checked,
.calendar .calendar-today:selected:hover,
.calendar .calendar-today:selected:focus{
  color: rgba(0, 127.5, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);
  background-color: rgba(0, 0, 0, 0);}

.datemenu-calendar-column{
  border: rgba(127.5, 127.5, 127.5, 0.500);
  border-left-width: 3px;} 

/*Weather*/
.weather-button{
  margin: 3px;
  border-width: 3px;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.500);
  background-color: rgba(0, 0, 0, 0.500);
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  transition-duration: 96ms;}
.weather-button:hover,
.weather-button:focus,
.weather-button:active,
.weather-button:checked,
.weather-button:overview{
  color: rgba(255, 255, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);}
              
/*Button*/
.button{
  border-radius: 12px;
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  color: rgba(255, 255, 255, 0.500);
  background-color: rgba(0, 0, 0, 0.500);
  transition-duration: 120ms;}
.button:hover{  
  color: rgba(255, 255, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);}

/*World Clocks*/
.world-clocks-button{
  border-width: 3px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.500);
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  color: rgba(255, 255, 255, 0.500);
  padding: 12px;
  transition-duration: 120ms;}
.world-clocks-button:hover,
.world-clocks-button:focus,
.world-clocks-button:active,
.world-clocks-button:checked,
.world-clocks-button:overview{
  color: rgba(255, 255, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);}

/*Events*/
.events-button{
  border-width: 3px;
  border-radius: 12px;
  margin: 3px;
  color: rgba(255, 255, 255, 0.500);
  background-color: rgba(0, 0, 0, 0.500);
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  box-shadow: none;
  padding: 12px;} 
  
/*Media Controls*/
.message-media-control{
  padding: 12px;
  margin: 12px;
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.500);
  transition-duration: 120ms;}
.message-media-control:hover,
.message-media-control:focus,
.message-media-control:active{
  border-color: rgba(0, 127.5, 255, 1.000);
  color: rgba(255, 255, 255, 1.000);
  transition-duration: 120ms;}

/*Message*/  
.message{
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.500);
  color: rgba(255, 255, 255, 0.500);
  transition-duration: 120ms;}
.message:hover,
.message:focus,
.message:active{
  color: rgba(255, 255, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);
  transition-duration: 120ms;}  
  
/*DashBoard*/
#dash{
  font-size: 10pt;}
    
/*Dash Background*/
.dash-background{
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  background-color: rgba(0, 0, 0, 0.500);
  border-radius: 12px;}
  
/*Dash Separator*/
.dash-separator{
  width: 3px;
  border-radius: 12px;
  background-color: rgba(127.5, 127.5, 127.5, 0.500);}
  
/*Show Applications*/  
.show-apps .overview-icon{
  color: rgba(255, 255, 255, 0.500);
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  background-color: rgba(0, 0, 0, 0);}
.show-apps:hover .overview-icon{
  color: rgba(255, 255, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);}  
  
/*Running Dot*/
.app-well-app-running-dot{
  height: 6px;
  width: 12px;
  border-radius: 12px;
  background-color: rgba(0, 127.5, 255, 1.000);
  margin-bottom: 1.5px;}
  
/*OverView*/
#overviewGroup{
  background-color: rgba(0, 0, 0, 1.000);}

/*Search*/
.search-entry{
  padding: 6px;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.500);
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  border-width: 3px;
  transition-duration: 120ms;}
.search-entry:hover,
.search-entry:focus,
.search-entry:active,
.search-entry:checked{
  color: rgba(255, 255, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);
  transition-duration: 120ms;}
    
/*Applications Name*/
.dash-label{
  color: rgba(255, 255, 255, 1.000);
  border-width: 3px;
  border-color:rgba(127.5, 127.5, 127.5, 0.500);
  background-color: rgba(0, 0, 0, 0.500);
  border-radius: 12px;}

/*Window Caption*/
.window-caption {
  color: rgba(255, 255, 255, 1.000);
  background-color: rgba(0, 0, 0, 0.500);
  border-color:rgba(127.5, 127.5, 127.5, 0.500);
  border-width: 3px;
  border-radius: 12px;}

/*Window Close*/
.window-close {
  color: rgba(255, 255, 255, 0.500);
  background-color: rgba(0, 0, 0, 0.500);
  border-color:rgba(127.5, 127.5, 127.5, 0.500);
  border-width: 3px;
  border-radius: 12px;
  transition-duration: 120ms;
  padding: 1.5px 1.5px;}
.window-close:hover,
.window-close:active{
  color: rgba(255, 255, 255, 1.000);
  border-color:rgba(255, 0, 0, 1.000);
  border-width: 3px;} 

.switcher-popup{
  background-color: rgba(0, 0, 0, 0);
  border-width: 3px;
  transition-duration: 120ms;}

.switcher-list{
  background-color: rgba(0, 0, 0, 0.500);
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  border-radius: 12px;
  transition-duration: 120ms;}
.switcher-list-item-container{
  spacing: 12px;}
.switcher-list .item-box{
  color: rgba(255, 255, 255, 0.500);
  background-color: rgba(0, 0, 0, 0.500);
  border-radius: 12px;
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  transition-duration: 120ms;}
.switcher-list .item-box:outlined,
.switcher-list .item-box:selected{
  color: rgba(255, 255, 255, 1.000);
  background-color: rgba(0, 0, 0, 0.500);
  border-width: 3px;
  border-color: rgba(0, 127.5, 255, 1.000);
  transition-duration: 120ms;}

  
/*Folder*/
.app-well-app.app-folder .overview-icon{
  color: rgba(255, 255, 255, 0.500);
  border-width: 3px;
  border-color: rgba(127.5, 127.5,127.5, 0.500);
  background-color: rgba(0, 0, 0, 1.000);
  border-radius: 12px;
  transition-duration: 120ms;}
.app-well-app.app-folder:hover .overview-icon,
.app-well-app.app-folder:focus .overview-icon,
.app-well-app.app-folder:active .overview-icon,
.app-well-app.app-folder:checked .overview-icon,
.app-well-app.app-folder:overview .overview-icon,
.app-well-app.app-folder:selected .overview-icon{
  color: rgba(255, 255, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);
  background-color: rgba(0, 0, 0, 1.000);}
  
.app-folder-dialog{
  border-radius: 12px;
  border-width: 3px;
  border-color: rgba(0, 127.5, 255, 1.000);
  background-color: rgba(0, 0, 0, 0.500);
  transition-duration: 120ms;}
  
.app-well-app .overview-icon{
  color: rgba(255, 255, 255, 0.500);
  border-radius: 12px;
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  background-color: rgba(0, 0, 0, 0.500);
  transition-duration: 120ms;}
  
.app-well-app:hover .overview-icon,
.app-well-app:focus .overview-icon,
.app-well-app:active .overview-icon,
.app-well-app:checked .overview-icon,
.app-well-app:overview .overview-icon{
  color: rgba(255, 255, 255, 1.000);
  border-radius: 12px;
  border-width: 3px;
  border-color: rgba(0, 127.5, 255, 1.000);
  background-color: rgba(0, 0, 0, 0.500);
  transition-duration: 120ms;}
  
  
.modal-dialog{
  color: rgba(255, 255, 255, 0.500);
  background-color: rgba(0, 0, 0, 0.500);
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  border-radius: 12px;
  padding: 5px;
  transition-duration: 120ms;}  
.modal-dialog-linked-button{
  margin: 2.5px;
  box-shadow: inset 0 0 black;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.500);
  background-color: rgba(0, 0, 0, 0.500);
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  transition-duration: 120ms;}
.modal-dialog-linked-button:hover,
.modal-dialog-linked-button:active,
.modal-dialog-linked-button:insensitive{
  color: rgba(255, 255, 255, 1.000);
  background-color: rgba(0, 0, 0, 0.500);
  border-color: rgba(0, 127.5, 255, 1.000);}

/*Password*/  
StEntry{
  color: rgba(255, 255, 255, 0.500);
  background-color: rgba(0, 0, 0, 0);
  border-width: 3px;
  border-color: rgba(127.5, 127.5, 127.5, 0.500);
  border-radius: 12px;
  transition-duration: 120ms;}
StEntry:hover,
StEntry:focus,
StEntry:active,
stEntry:checked{
  color: rgba(255, 255, 255, 1.000);
  border-color: rgba(0, 127.5, 255, 1.000);
  transition-duration: 120ms;}
